.searchModal-overlay {
  height: 100%;
  width: 100vw;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchModal-upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}

.searchModal-body {
  background-color: var(--card-background);
  color: var(--text-bright);
  display: flex;
  border: solid 2px var(--button);
}

.search-header {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchModal-body > .input-wrapper input {
  outline: none;
  border: none;
  height: 2rem;
  padding: 0.2rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--text-bright);
}

.searchModal-body > .input-wrapper input:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.searchModal-body > .input-wrapper > button {
  border: none;
  height: 100%;
  width: 3rem;
  background-color: var(--button);
  color: var(--text-bright);
  cursor: pointer;
}

.searchModal-body > .input-wrapper > button:hover {
  background-color: var(--button-hover);
}
