.loading {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--card-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-bright);
}

.loading-icon {
  animation: spin 1s infinite;
  color: var(--button);
}

.loading > span {
  margin-top: 1rem;
  color: var(--button);
}
