.create-user-account {
  height: 66%;
  align-self: center;
  background-color: var(--card-background);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  grid-column: 2/3;
}

.create-user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--card-background);
}

.create-user-container img {
  width: 35%;
  height: auto;
}

.create-user-container form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.custom-file-upload-label {
  background-color: var(--button);
  color: var(--text-bright);
  width: 35%;
  height: 2.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.custom-file-upload {
  border: 1px solid #ccc;
  padding: 6px 12px;
}

input[type='file'] {
  display: none;
}

.description-input {
  height: 10rem;
}

.createBtn {
  height: 5vh;
  width: 100%;
  background-color: var(--button);
  color: black;
  border: none;
}

.createBtn:hover {
  background-color: var(--button-hover);
}
