.main-container {
  width: 80vw;
  height: 100vh;
  justify-self: center;
  background-color: var(--content-background);
  color: var(--text-bright);
  display: grid;
  grid-template-columns: 20vw 40vw 20vw;
}

@media only screen and (max-width: 768px) {
  .main-container {
    width: 100vw;
    grid-template-columns: 15% 85%;
  }
}
