.main-container {
  height: 100%;
  justify-self: center;
  background-color: var(--content-background);
  color: var(--text-bright);
  display: grid;
  grid-template-columns: 15vw 35vw 20vw;
}

@media only screen and (max-width: 768px) {
  .main-container {
    width: 100vw;
    grid-template-columns: 100%;
  }
}
