.setup-background-overlay {
  height: 100%;
  width: 100vw;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-image: url('../../assets/logo_outline.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
}

.setup-user-account {
  height: 100%;
  width: 100%;
  align-self: center;
  background-color: rgba(40, 42, 54, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  grid-column: 2/3;
  animation-name: custom-fadein;
  animation-duration: 2s;
}

.setup-user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 25%;
  padding: 2rem;
  background-color: rgba(245, 245, 245, 0.1);
}

.setup-header {
  font-size: 2rem;
  text-align: center;
}

.setup-userpic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.setup-user-container form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}

.custom-file-upload-label {
  color: var(--text-bright);
  height: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: -15px;
  right: -55px;
}

.custom-file-upload {
  border: 1px solid #ccc;
  padding: 6px 12px;
}

input[type='file'] {
  display: none;
}

.unameinput-label {
  display: flex;
  justify-content: space-between;
}

.descinput-label {
  display: flex;
  justify-content: space-between;
}

.username-input {
  background-color: rgba(0, 0, 0, 0);
  color: var(--text-bright);
  outline: none;
  border: none;
  width: 50%;
  padding: 1rem;
  font-size: 1rem;
  font: inherit;
}

.username-input:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.description-input {
  height: 10rem;
  background-color: rgba(0, 0, 0, 0);
  color: var(--text-bright);
  resize: none;
  outline: none;
  border: none;
  padding: 0.5rem;
  width: 50%;
  padding: 1rem;
  font-size: 0.9rem;
  font: inherit;
  /*   border: solid 1px var(--text-grey); */
}

.description-input:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.createBtn {
  height: 3rem;
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--button);
  color: var(--text-bright);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.saveAvatarBtn {
  height: 3rem;
  width: 10rem;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--button);
  color: var(--text-bright);
  border: none;
  margin-top: 2rem;
}

.createBtn:hover,
.saveAvatarBtn:hover {
  background-color: var(--button-hover);
}

.avatarCreator-overlay {
  height: 100%;
  width: 100vw;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatarEditor-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-mini {
  height: 25px;
  width: auto;
}

.overlayEffect-overlay {
  height: 100%;
  width: 100vw;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .setup-background-overlay {
    background-size: contain;
  }

  .setup-user-account {
    grid-column: 1/-1;
  }
  .setup-user-container {
    width: 95%;
    padding: 0;
    height: 100%;
    border: none;
    background-color: unset;
    justify-content: space-evenly;
  }

  .setup-header {
    padding: 0;
    margin: 0;
  }

  .setup-userpic {
    width: 125px;
    height: 125px;
    margin: 2rem 0;
  }

  .custom-file-upload-label {
    top: -40px;
    right: -40px;
  }

  .setup-user-container form {
    padding: 0;
    position: relative;
    top: -30px;
  }

  .unameinput-label {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .descinput-label {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .username-input {
    width: 85%;
    background-color: rgba(245, 245, 245, 0.1);
  }

  .description-input {
    width: 85%;
    background-color: rgba(245, 245, 245, 0.1);
  }

  .logo-mini {
    height: 25px;
    width: auto;
  }
}
