.setup-user-account {
  height: 66%;
  align-self: center;
  background-color: var(--card-background);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  grid-column: 2/3;
}

.setup-user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
  background-color: var(--card-background);
  border: solid 2px var(--border);
  padding: 2rem;
}

.setup-userpic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.setup-user-container form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}

.custom-file-upload-label {
  color: var(--text-bright);
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  position: relative;
  top: -30px;
  right: -60px;
}

.custom-file-upload {
  border: 1px solid #ccc;
  padding: 6px 12px;
}

input[type='file'] {
  display: none;
}

.unameinput-label {
  display: flex;
  justify-content: space-between;
}

.descinput-label {
  display: flex;
  justify-content: space-between;
}

.username-input {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--text-bright);
  outline: none;
  border: none;
  width: 50%;
  padding: 1rem;
  font-size: 1rem;
  font: inherit;
}

.username-input:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.description-input {
  height: 10rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--text-bright);
  resize: none;
  outline: none;
  border: none;
  padding: 0.5rem;
  width: 50%;
  padding: 1rem;
  font-size: 0.9rem;
  font: inherit;
}

.description-input:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.createBtn {
  height: 3rem;
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--button);
  color: var(--text-bright);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.saveAvatarBtn {
  height: 3rem;
  width: 10rem;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--button);
  color: var(--text-bright);
  border: none;
  margin-top: 2rem;
}

.createBtn:hover,
.saveAvatarBtn:hover {
  background-color: var(--button-hover);
}

.avatarCreator-overlay {
  height: 100%;
  width: 100vw;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatarEditor-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-mini {
  height: 25px;
  width: auto;
}

@media only screen and (max-width: 768px) {
  .setup-user-account {
    height: unset;
    grid-column: 1/-1;
  }
  .setup-user-container {
    width: 95%;
    padding: 0;
  }

  .setup-userpic {
    width: 100px;
    height: 100px;
    margin-top: 1rem;
  }

  .setup-user-container form {
    padding: 0;
    position: relative;
    top: -30px;
  }

  .unameinput-label {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .descinput-label {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .username-input {
    width: 85%;
  }

  .description-input {
    width: 85%;
  }

  .logo-mini {
    height: 25px;
    width: auto;
  }
}
