.profileOptions-container {
  background-color: rgba(245, 245, 245, 0.1);
  color: var(--text-bright);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.profileOptions-header {
  height: auto;
  padding-bottom: 0.5rem;
}

.deleteAccount,
.changeUserpic,
.accountStats {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem;
  width: 100%;
}

.deleteAccount-icon,
.changePicture-icon,
.accountStats-icon {
  padding-right: 0.5rem;
}

.deleteModal-overlay,
.statsModal-overlay {
  height: 100%;
  width: 100vw;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.deleteModal,
.statsModal {
  width: 30vh;
  display: flex;
  flex-direction: column;
}

.accountDeleteBtn {
  height: 3rem;
  width: 95%;
  background-color: crimson;
  color: #f8f8f2;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}

.accountDeleteBtn:hover {
  background-color: rgb(221, 60, 92);
}

.accountNoDeleteBtn {
  height: 3rem;
  width: 95%;
  background-color: #ff79c6;
  color: #f8f8f2;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}

.accountNoDeleteBtn:hover {
  background-color: #f78eca;
}

.stats-closeBtn {
  height: 3rem;
  width: 95%;
  background-color: #ff79c6;
  color: #f8f8f2;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .accountDeleteBtn,
  .accountNoDeleteBtn {
    font-size: 1rem;
  }
}
