.contextbar {
  height: 100vh;
  background-color: var(--contextbar-background);
  position: relative;
  border-left: solid 1px var(--border);
  transition: all 200ms linear;
}

.contextbar-toggle {
  display: none;
}

@media only screen and (max-width: 768px) {
  .contextbar {
    width: 100%;
    position: fixed;
    left: 100%;
  }

  .contextbar-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5%;
    top: 1%;
  }

  .active {
    left: 0;
    transition: all 200ms linear;
  }
}
