.replyModal-overlay {
  height: 100%;
  width: 100vw;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.replyModal-body {
  background-color: var(--card-background);
  color: var(--text-bright);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0 1rem 1rem 1rem;
  border: solid 2px var(--button);
  border-radius: 2%;
}

.reply-upper-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reply-modal-textarea {
  padding: 0.5rem;
  font-size: 1rem;
  resize: none;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--text-bright);
}

.reply-modal-textarea:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.replyTo {
  font-size: small;
  font-weight: bolder;
}

.replyTo-append {
  width: 100%;
  text-align: center;
}

.close {
  cursor: pointer;
  font-size: 2rem;
  color: crimson;
}

.replyAppend-body {
  background-color: var(--card-background);
  color: var(--text-bright);
  display: flex;
  flex-direction: column;
}

.reply-append-textarea {
  padding: 0.5rem;
  font-size: 1rem;
  resize: none;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--text-bright);
}

.reply-append-textarea:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.replyBtn {
  height: 2rem;
  border: none;
  background-color: var(--button);
  color: var(--text-bright);
  cursor: pointer;
  z-index: 10;
}

.replyBtn:hover {
  background-color: var(--button-hover);
}

.hidden {
  display: none;
}
