.floating-menu {
  height: 9vh;
  width: 9vh;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button);
  position: fixed;
  bottom: 8.5%;
  right: 15%;
  transition: all 0.2s ease-in-out;
}

.floating-menu:hover {
  transform: scale(1.1);
  background-color: var(--button-hover);
  transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 768px) {
  .floating-menu {
    right: 5%;
  }
}
