.home-container {
  background-color: var(--content-background);
  max-height: 100vh;
}

.home-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5%;
  font-size: 1.5rem;
  font-weight: bolder;
}

.home-content {
  width: 100%;
  max-height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-content > .posts {
  width: 100%;
  max-height: 95%;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--button) var(--card-background);
}

.home-content > .posts::-webkit-scrollbar {
  width: 10px;
  background-color: var(--card-background);
}

.home-content > .posts::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px var(--button);
}
