.profileOptionsOther-container {
  background-color: var(--sidebar-background-mobile);
  color: var(--text-bright);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.profileOptionsOther-header {
  height: auto;
  padding-bottom: 0.5rem;
}

.sendDm,
.follow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem;
  width: 100%;
}

.sendDm-icon,
.follow-icon {
  padding-right: 0.5rem;
}
