.fadeout {
  animation-name: custom-fadeout;
  animation-duration: 0.1s;
}

.fadein {
  animation-name: custom-fadein;
  animation-duration: 0.1s;
}

.home-container,
.explore-container,
.search-container,
.profile-container,
.trends-container,
.bookmarks-container {
  background-color: var(--card-background);
  color: var(--text-bright);
  max-height: 100vh;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--button) var(--card-background);
}

.home-header,
.explore-header,
.search-header,
.profile-header,
.trends-header,
.bookmarks-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5%;
  font-size: 1.2rem;
  font-weight: bolder;
}

.home-content,
.explore-content,
.search-content,
.trends-content,
.bookmarks-content {
  width: 100%;
  max-height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-content > .posts,
.explore-content > .posts,
.search-content > .results,
.trends-content > .results,
.bookmarks-content > .posts {
  width: 100%;
  max-height: 95%;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--button) var(--card-background);
  color: var(--text-bright);
}

.home-content > .posts::-webkit-scrollbar,
.explore-content > .posts::-webkit-scrollbar,
.search-content > .results::-webkit-scrollbar,
.trends-content > .results::-webkit-scrollbar,
.bookmarks-content > .posts::-webkit-scrollbar {
  width: 10px;
  background-color: var(--card-background);
}

.home-content > .posts::-webkit-scrollbar-thumb,
.explore-content > .posts::-webkit-scrollbar-thumb,
.search-content > .results::-webkit-scrollbar-thumb,
.trends-content > .results::-webkit-scrollbar-thumb,
.bookmarks-content > .posts::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px var(--button);
}

.post-back {
  position: absolute;
  top: 1.5%;
  left: 33%;
  cursor: pointer;
}

.search-closeBtn,
.reply-closeBtn,
.newPost-closeBtn {
  cursor: pointer;
  font-size: 3rem;
  position: absolute;
  top: 5%;
  left: 90%;
  color: var(--button);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-closeBtn:hover,
.reply-closeBtn:hover,
.newPost-closeBtn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.replyBtn-modal,
.replyBtn-append,
.postBtn {
  height: 2rem;
  width: 5rem;
  border-radius: 20px;
  border: none;
  background-color: var(--button);
  color: var(--text-bright);
  font-size: 1rem;
  cursor: pointer;
}

.replyBtn-append:hover,
.replyBtn-modal:hover,
.postBtn:hover {
  background-color: var(--button-hover);
}

.show-emoji-picker {
  color: var(--text-grey);
}

.emoji-picker-close {
  color: crimson;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  font-size: 2rem;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  left: 15%;
  bottom: 2%;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes custom-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes custom-fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
