.fadeout {
  animation-name: custom-fadeout;
  animation-duration: 0.1s;
}

.fadein {
  animation-name: custom-fadein;
  animation-duration: 0.1s;
}

.home-container,
.explore-container,
.search-container,
.profile-container,
.trends-container,
.bookmarks-container,
.mentions-container,
.directMessages-container {
  background-color: var(--card-background);
  color: var(--text-bright);
  height: 100vh;
  max-height: 100vh;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--button) var(--card-background);
}

.home-header,
.explore-header,
.search-header,
.profile-header,
.trends-header,
.bookmarks-header,
.mentions-header,
.directMessages-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  font-size: 1.2rem;
  font-weight: bolder;
  background-color: var(--header-background);
}

.home-content,
.explore-content,
.search-content,
.trends-content,
.bookmarks-content,
.mentions-content,
.directMessages-content {
  width: 100%;
  max-height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home-content > .posts,
.explore-content > .trends,
.search-content > .results,
.trends-content > .results,
.bookmarks-content > .posts,
.mentions-content > .posts {
  width: 100%;
  max-height: 95%;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--button) var(--card-background);
  color: var(--text-bright);
}

.home-content > .posts::-webkit-scrollbar,
.explore-content > .trends::-webkit-scrollbar,
.search-content > .results::-webkit-scrollbar,
.trends-content > .results::-webkit-scrollbar,
.bookmarks-content > .posts::-webkit-scrollbar,
.mentions-content > .posts::-webkit-scrollbar {
  width: 10px;
  background-color: var(--card-background);
}

.home-content > .posts::-webkit-scrollbar-thumb,
.explore-content > .trends::-webkit-scrollbar-thumb,
.search-content > .results::-webkit-scrollbar-thumb,
.trends-content > .results::-webkit-scrollbar-thumb,
.bookmarks-content > .posts::-webkit-scrollbar-thumb,
.mentions-content > .posts::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px var(--button);
}

.post-back {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 2rem;
  cursor: pointer;
}

.reply-closeBtn,
.newPost-closeBtn,
.message-closeBtn {
  cursor: pointer;
  font-size: 3rem;
  color: var(--button);
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reply-closeBtn:hover,
.newPost-closeBtn:hover,
.message-closeBtn:hover {
  color: var(--hashtag);
}

.replyBtn-modal,
.replyBtn-append,
.postBtn,
.messageBtn {
  height: 2rem;
  width: 5rem;
  border-radius: 20px;
  border: none;
  background-color: var(--button);
  color: var(--text-bright);
  font-size: 1rem;
  cursor: pointer;
}

.replyBtn-append:hover,
.replyBtn-modal:hover,
.postBtn:hover,
.messageBtn:hover {
  background-color: var(--button-hover);
}

.show-emoji-picker {
  color: var(--text-grey);
}

.emoji-picker-close {
  color: var(--button);
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  font-size: 2rem;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  left: 15%;
  bottom: 2%;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.empty > h5 {
  padding: 0 1rem;
}

.charLeft {
  font-size: small;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes pop {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes pop {
  from {
    -moz-transform: scale(0);
  }
  to {
    -moz-transform: scale(1);
  }
}
@-o-keyframes pop {
  from {
    -o-transform: scale(0);
  }
  to {
    -o-transform: scale(1);
  }
}
@keyframes pop {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@-webkit-keyframes click {
  0% {
    -webkit-transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes click {
  0% {
    -webkit-transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-o-keyframes click {
  0% {
    -webkit-transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@keyframes click {
  0% {
    -webkit-transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes custom-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes custom-fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 768px) {
  .home-content > .posts,
  .explore-content > .trends,
  .search-content > .results,
  .trends-content > .results,
  .bookmarks-content > .posts,
  .mentions-content > .posts {
    margin-bottom: 7vh;
  }

  .search-closeBtn,
  .reply-closeBtn,
  .newPost-closeBtn,
  .stats-closeBtn {
    left: 80%;
  }

  .emoji-picker-close {
    left: 30%;
  }

  .empty {
    padding: 0 1rem;
    text-align: center;
  }
}
