.post-container {
  background-color: var(--card-background);
  color: var(--text-bright);
  padding: 1rem;
  display: flex;
  border-bottom: solid 2px var(--border);
  cursor: pointer;
}

.post-container:hover {
  background-color: var(--card-hover);
}

.posts {
  display: flex;
  flex-direction: column;
}
.post-left-wrapper {
  width: 15%;
}

.post-right-wrapper {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.post-userDetails {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.post-author {
  font-weight: bold;
  cursor: pointer;
}

.post-userDetails-separator {
  padding: 0 0.5rem;
  color: var(--text-grey);
}

.post-date {
  color: var(--text-grey);
}

.post-content {
  padding: 1rem;
  line-height: 1.5rem;
  height: auto;
  word-wrap: break-word;
  white-space: pre-wrap;
  text-align: left;
}

.post-options {
  display: flex;
  width: 100%;
  padding-top: 1rem;
  justify-content: space-evenly;
  color: var(--text-grey);
}

.post-options > div {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.post-usrpic {
  border-radius: 50%;
  min-height: 50px;
  min-width: 50px;
  height: 50px;
  width: 50px;
}

.post-image {
  padding-right: 1rem;
}

.hashtag {
  color: var(--hashtag);
}

.mention {
  color: var(--mention);
}

@media only screen and (max-width: 768px) {
  .post-details-container > .post-container {
    padding: 1rem 0.5rem;
  }

  .post-userDetails {
    padding-left: 1rem;
  }
}
