.explore-content {
  padding: 1rem;
  text-align: center;
}

.trend-item {
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  color: var(--hashtag);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.trend-item > span {
  color: var(--text-bright);
}

.other-trends {
  color: var(--text-bright);
  text-decoration: underline;
  cursor: initial;
  padding: 1rem 0;
}
