.sidebar {
  height: 100vh;
  background-color: tomato;
  position: relative;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}

.sidebar-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.sidebar-item svg {
  margin-right: 1rem;
}

@media only screen and (max-width: 768px) {
  .sidebar ul {
    padding: 0;
    justify-content: space-around;
    align-items: center;
  }
  .sidebar-item span {
    display: none;
  }

  .sidebar-item svg {
    margin-right: 0;
  }
}
