.signin-email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type='text'],
input[type='password'] {
  height: 2rem;
  padding: 0 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
  display: flex;
}

.loginError {
  color: red;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.input-container label {
  display: flex;
  justify-content: space-between;
}

.input-container label input {
  margin-left: 1rem;
}

.loginBtn {
  height: 5vh;
  width: 95%;
  background-color: blueviolet;
  color: whitesmoke;
  border: none;
}

.loginBtn:hover {
  background-color: rgb(161, 77, 238);
}

.signupBtn {
  height: 5vh;
  width: 95%;
  background-color: rgb(43, 55, 226);
  color: whitesmoke;
  border: none;
}

.signupBtn:hover {
  background-color: rgb(71, 82, 241);
}
