.signin-container,
.signup-container {
  background-color: var(--content-background);
  color: var(--text-bright);
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 5fr 0.5fr;
  grid-template-areas:
    'header signup'
    'logo signup'
    'about signup';
}

.login-header {
  width: 100%;
  text-align: center;
}

.signin-email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.signin-container > header {
  grid-area: header;
}

.app-header-container {
  display: flex;
  flex-direction: column;
}

.app-header {
  text-align: center;
}

.login-container {
  grid-area: signup;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 245, 245, 0.1);
}

.logo-container {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.logo-big {
  max-width: 66%;
}

input[type='email'],
input[type='password'] {
  height: 2rem;
  padding: 0 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input:focus[type='email'],
input:focus[type='password'] {
  outline: 2px solid #ff79c6;
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  background-color: var(--card-background);
  color: var(--text-bright);
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
  display: flex;
}

.about {
  grid-area: about;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about > a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--text-bright);
}

.about > a:hover {
  color: var(--button);
}

.about-icon {
  padding-left: 0.5rem;
}

.loginError {
  color: var(--hashtag);
  height: 1rem;
  text-align: center;
  padding-top: 1rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.input-container label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-container label input {
  margin-left: 1rem;
  min-width: 50%;
}

.loginBtn {
  height: 3rem;
  width: 95%;
  background-color: #ff79c6;
  color: #f8f8f2;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}

.loginBtn:hover {
  background-color: #f78eca;
}

.createNewAccount-header {
  margin-top: 5rem;
  text-align: center;
}

.createNewAccountBtn {
  height: 3rem;
  width: 95%;
  background-color: #bd93f9;
  color: #f8f8f2;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}

.createNewAccountBtn:hover {
  background-color: #c8a7f6;
}

.newAccountContainer {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: var(--card-background);
}

.signup-email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.signup-email > header > .app-header-container > .logo-big {
  align-self: center;
  max-width: 20%;
}

.signupBtn {
  height: 5vh;
  width: 95%;
  background-color: #bd93f9;
  color: #f8f8f2;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}

.signupBtn:hover {
  background-color: #c3a3ef;
}

.login-back {
  position: relative;
  top: 50%;
  cursor: pointer;
}

.loginError-createAcct {
  color: var(--hashtag);
  height: 1rem;
  text-align: center;
  margin-top: 1rem;
}

@media only screen and (max-width: 768px) {
  .app-header {
    padding: 0 1rem;
  }

  .signin-container,
  .signup-container {
    background-color: var(--content-background);
    color: var(--text-bright);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
  }

  .logo-container {
    min-height: 0;
  }

  .logo-big {
    max-width: 20%;
  }

  .signup-email > header > .app-header-container > .logo-big {
    align-self: center;
    max-width: 50%;
  }

  .login-container {
    padding: 1rem 0;
    width: 95%;
  }

  .login-back {
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
  }

  .signin-email > form {
    width: 95vw;
  }

  .input-container label input {
    min-width: unset;
  }
}
