.newPostModal-overlay,
.emoji-picker-overlay {
  height: 100%;
  width: 100vw;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newPostModal-upper {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.user-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-header > .post-author {
  padding-left: 1rem;
}

.newPostModal-body {
  background-color: var(--card-background);
  color: var(--text-bright);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0 1rem 1rem 1rem;
  border: solid 2px var(--button);
  border-radius: 2%;
  height: 40vh;
  width: 40vh;
}

.newPost-textarea {
  padding: 0.5rem;
  font-size: 1rem;
  resize: none;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--text-bright);
  height: 25vh;
}

.newPost-textarea:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.close {
  cursor: pointer;
  font-size: 2rem;
}

.post-options-container {
  display: flex;
  flex-direction: column;
}

.upload-options {
  padding: 0.5rem 0;
}

.picture-upload-label {
  cursor: pointer;
}

.show-emoji-picker {
  cursor: pointer;
  padding: 0 1rem;
}

.picture-upload-container {
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  padding: 1rem;
  display: flex;
  /*   justify-content: center; */
  max-height: 20%;
}

.removeImage {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  font-size: 2rem;
  color: var(--text-bright);
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: absolute;
}

.picture-upload {
  max-height: 100%;
  margin: auto;
}

.postBtn {
  height: 2rem;
  border: none;
  background-color: var(--button);
  color: var(--text-bright);
  cursor: pointer;
}

.postBtn:hover {
  background-color: var(--button-hover);
}

aside.emoji-picker-react {
  border-radius: 0;
  box-shadow: none;
  height: 40vh;
  width: 40vh;
}

.emoji-picker-close {
  color: crimson;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  font-size: 2rem;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  left: 15%;
  bottom: 2%;
}
