.directMessages {
  background-color: rgba(245, 245, 245, 0.1);
  color: var(--text-bright);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: auto;
}

.directMessages-context-header {
  height: auto;
  padding-bottom: 0.5rem;
  align-self: center;
}

.message-markRead,
.message-delete {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem;
  width: 100%;
}

.message-markRead-icon,
.message-delete-icon {
  padding-right: 0.5rem;
}

.deleteAllMessagesBtn {
  height: 3rem;
  width: 95%;
  background-color: crimson;
  color: #f8f8f2;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}

.deleteAllMessagesBtn:hover {
  background-color: rgb(221, 60, 92);
}

.dontDeleteMessagesBtn {
  height: 3rem;
  width: 95%;
  background-color: #ff79c6;
  color: #f8f8f2;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}

.dontDeleteMessagesBtn:hover {
  background-color: #f78eca;
}

@media only screen and (max-width: 768px) {
  .directMessages {
    background-color: var(--sidebar-background-mobile);
  }
}
