.trends {
  width: 100%;
}

.topTrends-container {
  display: flex;
  flex-direction: column;
}

.otherTrends-container {
  display: grid;
  grid-template-columns: minmax(0, auto) minmax(0, auto) minmax(0, auto);
  gap: 0.5rem;
}

.trend-item {
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  color: var(--hashtag);
  width: 100%;
  padding-top: 0.5rem;
  line-height: normal;
  max-height: 10%;
  display: flex;
  flex-direction: column;
}

.trend-item > span {
  color: var(--text-bright);
}

.otherTrends-container > .trend-item {
  font-size: 1rem;
}

.other-trends {
  color: var(--text-bright);
  text-decoration: underline;
  cursor: initial;
  padding: 1rem 0;
}
