:root {
  --button: #ff79c6;
  --button-hover: #ec94c6;
  --sidebar-background: #282a36;
  --contextbar-background: #282a36;
  --content-background: #282a36;
  --card-background: #282a36;
  --card-hover: rgba(255, 121, 197, 0.1);
  --modal: rgb(225, 225, 225);
  --text-bright: #f8f8f2;
  --text-dark: black;
  --text-grey: #787878;
  --follow-button: #6272a4;
  --unfollow-button: #6272a4;
  --follow-button-hover: #5873c2;
  --unfollow-button-hover: #5873c2;
  --border: rgba(255, 255, 255, 0.1);
  --hashtag: #ff5555;
  --mention: #bd93f9;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--content-background);
  height: 100vh;
}

a {
  color: #50fa7b;
}
