:root {
  --button: #f94962;
  --button-hover: #ec8191;
  --sidebar-background: #182f3a;
  --contextbar-background: #182f3a;
  --content-background: #182f3a;
  --card-background: #0f2731;
  --modal: rgb(225, 225, 225);
  --text-bright: whitesmoke;
  --text-dark: black;
  --text-grey: #787878;
  --follow-button: #0168b8;
  --unfollow-button: #4e2a85;
  --follow-button-hover: #027bd7;
  --unfollow-button-hover: #6b39b6;
}

.App {
  display: grid;
  background-color: var(--content-background);
}

a {
  color: aqua;
}
