.fetching {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 2.5rem);
}

@media only screen and (max-width: 768px) {
  .fetching {
    height: calc(100% - 2.5rem - 7vh);
  }
}
